body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #5e4eb6;
}
.container{
    background: #40C4FF;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px; 
}

.main-list{
    text-align: center;
}

.main-list_option{
    width: 25%;
    display: block;
    float: left;
}

.main-list_option-ul-li{
    padding: 20px;
}

.hidden{
    display: none;
}

a{
    text-decoration: none;
    color:black;
}